.button {
  @include font(16px, 21px);
  width: 100%;
  min-height: 68px;
  margin-bottom: 25px;

  font-family: $main-font;
  font-weight: 500;

  color: $dark;
  border: 1px solid $brown;
  cursor: pointer;

  &--brown {
    color: $white;
    background-color: $brown;
  }

  &--white {
    background-color: $white;
  }

  &:hover,
  &:focus {
    color: $brown;
    background-color: $brown-light;
    outline-color: $brown;
  }

  &:active {
    color: $white;
    background-color: $brown-bg;
    outline-color: $brown;
  }
}
