.filter__modal-close {
  display: none;
}

.filter__item {
  margin: 0;
  padding: 0;
  border: 1px solid $brown;

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:last-of-type {
    margin-bottom: 35px;
  }

  &:hover,
  &:focus-within {
    background-color: $line;
  }
}

.filter__item > button {
  @include font(16px, 21px);
  position: relative;
  width: 100%;
  display: block;
  padding: 23px;

  font-family: $main-font;
  font-weight: 500;
  text-align: left;
  color: $dark;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &::after {
    position: absolute;
    right: 27px;
    top: 22px;
    width: 15px;
    height: 8px;
    content: url("../img/icon-arrow-bottom.svg");
  }
}

.filter__list {
  @include clear-list;
  padding-left: 57px;

  li {
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  label {
    @include font(14px, 18px);
    color: $dark;
  }

  input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 2px;
      left: -22px;
      width: 15px;
      height: 15px;
      border: 1px solid $brown;
      content: "";
    }
  }

  input[type="checkbox"]:checked + label::before {
    background-color: $brown;
  }
}

.filter__content {
  display: none;
}

.filter__item--open {
  .filter__content {
    display: block;
  }

  & > button::after {
    top: 38px;
    transform: rotate(180deg);
  }
}

.filter--nojs {
  .filter__content {
    display: block;
  }

  .filter__item {
    & > button::after {
      top: 38px;
      transform: rotate(180deg);
    }
  }
}

.filter__price {
  padding: 0 0 52px 27px;
}

.filter__price-controls {
  position: relative;
  width: 200px;
  height: 1px;
  background-color: $brown-light;

  label {
    @include font(14px, 18px);
    position: absolute;
    top: 16px;
    color: $dark;

    &:first-of-type {
      left: 34px;
    }

    &:last-of-type {
      right: 28px;
    }
  }
}

.filter__line-depth {
  position: relative;
  width: 60%;
  height: 1px;
  left: 42px;
  background-color: $brown;
}

.filter__line-pin {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background-color: $brown;
  outline-color: $brown;
  cursor: pointer;

  &--min {
    left: 42px;
  }

  &--max {
    right: 38px;
  }

  &:hover,
  &:focus {
    border: 1px solid $brown-light;
  }

  &:active {
    background-color: $brown-light;
  }
}

@media (max-width: $tablet) {
  .filter {
    position: relative;
    max-width: 426px;
    margin-top: 28px;
    box-shadow: 0 5px 32px 0 $shadow;
  }

  .filter > .button {
    width: 85%;
    margin-left: 20px;
  }

  .filter--modal {
    display: none;
  }

  .filter--modal-open {
    position: fixed;
    top: 0;
    left: 1px;
    width: 426px;
    display: block;
    transform: none;
  }

  .filter__modal-close {
    position: absolute;
    top: -17px;
    right: -13px;
    width: 32px;
    height: 32px;
    display: block;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-round-close.svg");
    background-repeat: no-repeat;
  }

  .filter__item {
    border: none;
    border-bottom: 1px solid $brown;

    &:not(:last-of-type) {
      border-bottom: 1px solid $brown;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .filter__item > button {
    @include font(18px, 23px);
    padding: 33px 23px 35px;

    &::after {
      right: 43px;
      top: 40px;
      width: 23px;
      height: 12px;
    }
  }

  .filter__item:first-of-type > button {
    padding: 33px 23px 25px;
  }

  .filter__list {
    padding-left: 60px;

    li {
      margin-bottom: 17px;

      &:last-child {
        margin-bottom: 36px;
      }
    }

    label {
      @include font(16px, 21px);
    }

    input[type="checkbox"] + label::before {
      left: -26px;
      width: 18px;
      height: 18px;
    }
  }

  .filter__price {
    padding: 0 0 70px 34px;
  }

  .filter__price-controls {
    width: 300px;

    label {
      @include font(16px, 21px);

      &:last-of-type {
        right: 53px;
      }
    }
  }

  .filter__line-pin {
    top: -9px;
    width: 18px;
    height: 18px;

    &--max {
      right: 65px;
    }
  }
}

@media (max-width: $mobile) {
  .filter {
    margin: 71px auto;
  }

  .filter > .button--brown {
    margin-bottom: 20px;
  }

  .filter > .button--white {
    margin-bottom: 30px;
  }

  .filter--modal-open {
    left: 24px;
    width: 85%;
  }

  .filter__modal-close {
    top: -11px;
    right: -10px;
  }

  .filter__item {
    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .filter__item > button {
    padding: 24px 20px;

    &::after {
      right: 18px;
      top: 25px;
    }
  }

  .filter__item--open {
    & > button::after {
      top: 38px;
    }
  }

  .filter__item:first-of-type > button {
    padding: 29px 20px 25px;
  }

  .filter__list {
    padding-left: 58px;

    li:last-child {
      margin-bottom: 26px;
    }
  }

  .filter__price {
    padding: 9px 0 60px 11px;
  }

  .filter__price-controls {
    width: 250px;

    label {
      &:first-of-type {
        left: 30px;
      }

      &:last-of-type {
        right: 44px;
      }
    }
  }

  .filter__line-pin {
    top: -8px;

    &--min {
      left: 39px;
    }

    &--max {
      right: 55px;
    }
  }
}
