.follow__wrapper {
  margin-bottom: 127px;
  text-align: center;

  h2 {
    @include clear-content(30px);
    @include font(34px, 44px);
    @include head-font(700);
    letter-spacing: 0.03em;
    color: $dark;
  }

  a {
    @include head-link(27px);
    @include font(16px, 21px);
  }
}

.follow__list {
  @include clear-list;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.follow__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--second {
    padding-left: 10px;
  }

  &--third {
    padding-left: 13px;
    align-items: flex-start;
  }

  &--fourth {
    align-items: flex-end;
  }
}

@media (min-width: $desktop) and (max-width: $wrapper) {
  .follow__item img {
    max-width: 95%;
  }
}

@media (max-width: $tablet) {
  .follow__wrapper {
    margin-bottom: 77px;
    padding: 0 43px;

    h2 {
      margin-bottom: 18px;
    }
  }

  .follow__item {
    img {
      max-width: 97%;
    }

    &--third {
      padding-left: 9px;

      picture:last-of-type img {
        max-width: 90%;
        padding-top: 7px;
      }
    }

    &--fourth {
      padding-left: 8px;

      picture:first-of-type img {
        max-width: 96%;
        padding-left: 6px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .follow__wrapper {
    margin-bottom: 66px;
    padding: 0 14px;
  }

  .follow__list {
    max-width: 470px;
    margin: 52px auto 0;
    flex-wrap: wrap;
  }

  .follow__item {
    width: 50%;

    img {
      max-width: 100%;
    }

    &--first {
      width: 45%;
      justify-content: flex-start;

      picture:last-of-type img {
        padding-top: 10px;
      }
    }

    &--second {
      padding-left: 0;

      img {
        height: 226px;
        object-fit: cover;
      }
    }

    &--third {
      width: 100%;
      padding-left: 0;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;

      img {
        max-width: 95%;
      }

      picture:last-of-type img {
        max-width: 92%;
        padding-top: 10px;
      }
    }

    &--fourth {
      display: none;
    }
  }
}
