.form--search {
  input {
    @include font(14px, 21px);
    font-family: $main-font;
    border: none;
    border-radius: 0;
    appearance: none;

    &::placeholder {
      color: $grey;
    }

    &:focus {
      outline-color: $brown;
    }
  }

  label {
    padding-right: 10px;
  }

  svg {
    fill: $black;
  }
}

.form--email {
  position: relative;

  input {
    @include font(14px, 21px);
    width: 100%;
    padding: 24px 0 8px;

    font-family: $main-font;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    appearance: none;

    &::placeholder {
      color: $grey;
    }

    &:focus {
      outline-color: $white-light;
    }
  }
}

@media (max-width: $tablet) {
  .form--search {
    position: relative;

    input {
      width: 100%;
      height: 40px;
      padding: 5px 35px;
      border-radius: 20px;
      background-color: $white;
      opacity: 15%;

      &::placeholder {
        color: transparent;
      }
    }

    label {
      position: absolute;
      left: 11px;
      top: 12px;
      z-index: 1;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: $white;
    }
  }
}
