.modal {
  z-index: 1;
  display: none;

  &--nojs {
    display: block;
  }
}

.modal-show {
  position: fixed;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  display: block;
}

.modal__close {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 14px;
  height: 14px;
  display: block;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;

  @media (max-width: $tablet) {
    width: 20px;
    height: 20px;
  }

  @media (max-width: $mobile) {
    top: 12px;
    right: 15px;
    width: 14px;
    height: 14px;
  }
}
