.page-header {
  position: relative;

  &::after {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $line;
    content: "";
  }

  a {
    color: $dark;

    &:hover,
    &:focus {
      color: $brown;
      outline-color: $brown;
    }

    &:active {
      color: $brown;
      opacity: 0.6;
    }
  }

  &--catalog,
  &--card {
    &::after {
      top: 125px;
    }

    .page-header__wrapper {
      padding-top: 53px;
      padding-bottom: 73px;
    }

    .page-header__cart {
      top: 53px;
    }
  }

  &--catalog {
    .page-header__nav {
      display: none;
    }
  }

  &--card {
    &::after {
      box-shadow: 0 61px 0 0 $line;
    }
  }
}

.page-header__wrapper {
  position: relative;
  padding-top: 42px;
  padding-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__toggle {
  display: none;
}

.page-header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  svg {
    fill: $brown;
  }
}

.page-header__login {
  @include font(14px, 21px);
  margin-right: 80px;
}

.page-header__cart {
  @include font(14px, 21px);
  position: absolute;
  top: 42px;
  right: 5px;

  svg {
    display: none;
  }
}

.page-header__nav {
  width: 100%;
  margin-top: 69px;
}

.page-header__site-menu {
  @include clear-list;
  @include font(16px, 24px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 36px;
  }

  &--about {
    display: none;
  }
}

@media (max-width: $tablet) {
  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 126px;
    min-width: 100%;

    &::after {
      display: none;
    }

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $dark;
      }

      &:active {
        color: $dark;
        opacity: 0.6;
      }
    }

    &--catalog,
    &--card {
      .page-header__nav {
        display: block;
      }
    }
  }

  .page-header__wrapper {
    padding: 136px 44px 0 46px;
    flex-direction: column;
  }

  .page-header__cart {
    top: 55px;
    right: 45px;

    span {
      display: none;
    }

    svg {
      display: block;
    }
  }

  .page-header__nav {
    margin-top: 46px;
  }

  .page-header__site-menu {
    @include font(24px, 36px);
    flex-direction: column;

    li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 21px;
    }

    li:last-child {
      margin-bottom: 40px;
    }

    &--about {
      @include font(18px, 23px);
      display: block;

      a {
        color: $white-light;
      }
    }
  }

  .page-header__login {
    @include font(18px, 23px);
    order: 1;
  }

  .page-header__toggle {
    position: absolute;
    top: 52px;
    left: 45px;
    z-index: 2;

    display: block;
    width: 25px;
    height: 19px;

    background-color: transparent;

    cursor: pointer;
    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 25px;
      height: 3px;
    }
  }

  .page-header--opened {
    .page-header__toggle::before {
      background-color: $white;
      box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
    }

    .page-header__logo svg {
      fill: $white;
    }

    .page-header__cart svg {
      stroke: $white;
    }
  }

  .page-header--opened.page-header {
    min-height: 778px;
    background-color: $brown;
  }

  .page-header--opened.page-header--catalog {
    .page-header__wrapper {
      padding-top: 136px;
    }
  }

  .page-header--opened.page-header--card {
    .page-header__wrapper {
      padding-top: 136px;
    }
  }

  .page-header--closed {
    .page-header__wrapper {
      padding-top: 0;
    }

    .page-header__toggle::before {
      background-color: $dark;
      box-shadow: 0 8px 0 0 $dark, 0 16px 0 0 $dark;
    }

    .page-header__logo svg {
      fill: $brown;
    }

    .page-header__cart svg {
      stroke: $dark;
    }

    .page-header__site-menu,
    .page-header__login,
    .page-header__form {
      display: none;
    }
  }

  .page-header--closed.page-header {
    background-color: $white;
  }

  .page-header--nojs {
    position: static;
  }
}

@media (max-width: $mobile) {
  .page-header {
    min-height: 92px;

    &--card {
      .page-header__wrapper {
        padding-bottom: 55px;
      }
    }

    &--catalog,
    &--card {
      .page-header__cart {
        top: 38px;
      }
    }
  }

  .page-header--opened.page-header {
    min-height: 684px;
    background-color: $brown;
  }

  .page-header__wrapper {
    padding: 102px 15px 0 16px;
  }

  .page-header__logo {
    top: 20px;

    svg {
      width: 52px;
      height: 52px;
    }
  }

  .page-header__cart {
    top: 38px;
    right: 15px;
  }

  .page-header__nav {
    margin-top: 37px;
  }

  .page-header__site-menu {
    li:last-child {
      margin-bottom: 30px;
    }
  }

  .page-header__toggle {
    top: 37px;
    left: 16px;
  }
}
