.page-footer {
  min-height: 338px;
  background-color: $black;
  color: $white;
}

.page-footer__wrapper {
  padding-top: 91px;
  display: flex;
  justify-content: space-between;
}

.page-footer__subscription {
  min-width: 500px;

  h2 {
    @include clear-content(10px);
    @include font(34px, 44px);

    font-family: $accent-font;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  p {
    @include clear-content(19px);
    @include font(16px, 21px);

    font-weight: 400;
    color: $grey;
  }
}

.page-footer__submit {
  @include font(16px, 21px);
  position: absolute;
  top: 23px;
  right: 0;
  padding: 0;
  color: $white;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    stroke: $white;
  }

  &:hover,
  &:focus {
    color: $white-light;

    svg {
      stroke: $white-light;
    }
  }

  &:active {
    color: $white-light;
    opacity: 0.6;
  }
}

.page-footer__links {
  width: 45%;
  padding: 6px 30px 0 79px;
}

.page-footer__links-list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__links-item {
  width: 43%;
  margin-bottom: 21px;

  a {
    @include font(16px, 21px);
    color: $white;

    &:hover,
    &:focus {
      color: $white-light;
    }

    &:active {
      color: $white-light;
      opacity: 0.6;
    }
  }
}

.page-footer__social-list {
  @include clear-list;
  padding-top: 7px;

  li {
    margin-bottom: 24px;
  }
}

.page-footer__social-link {
  display: flex;
  color: $white;

  &:hover,
  &:focus {
    color: $white-light;

    svg {
      fill: $white-light;
    }
  }

  &:active {
    color: $white-light;
    opacity: 0.6;

    svg {
      fill: $white-light;
      opacity: 0.6;
    }
  }

  svg {
    fill: $white;
  }

  span {
    margin-left: 15px;
  }

  &--fb {
    padding-left: 5px;
  }
}

@media (max-width: $tablet) {
  .page-footer {
    min-height: 448px;
  }

  .page-footer__wrapper {
    padding: 52px 150px 0 44px;
    flex-wrap: wrap;
  }

  .page-footer__subscription {
    min-width: 100%;
    margin-bottom: 41px;
    padding-right: 13px;
  }

  .page-footer__links {
    width: 79%;
    padding: 5px 0 0 0;
  }
}

@media (max-width: $mobile) {
  .page-footer {
    min-height: 773px;
  }

  .page-footer__wrapper {
    padding: 50px 15px 0 15px;
  }

  .page-footer__subscription {
    padding-right: 0;

    h2 {
      margin-bottom: 13px;
    }
  }

  .page-footer__links {
    width: 100%;
  }

  .page-footer__links-item {
    width: 100%;

    &--order {
      order: 0;
    }

    &--terms {
      order: 1;
    }

    &--return {
      order: 2;
    }

    &--delivery {
      margin-bottom: 40px;
      order: 3;
    }

    &--about {
      order: 4;
    }

    &--stores {
      order: 5;
    }

    &--jobs {
      order: 6;
    }

    &--contact {
      margin-bottom: 40px;
      order: 7;
    }
  }

  .page-footer__social {
    width: 80%;
  }

  .page-footer__social-list {
    width: 85%;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 30px 10px 0;
    }
  }

  .page-footer__social-link {
    span {
      display: none;
    }

    &--fb {
      padding-left: 0;

      svg {
        width: 12px;
        height: 21px;
      }
    }

    &--insta {
      svg {
        width: 20px;
        height: 21px;
      }
    }

    &--pinterest {
      svg {
        width: 20px;
        height: 21px;
      }
    }

    &--twiter {
      svg {
        width: 20px;
        height: 18px;
      }
    }
  }
}
