.pagination {
  border-top: 1px solid $line;
}

.pagination__wrapper {
  margin-bottom: 75px;
  padding-top: 32px;
  padding-left: 300px;
  display: flex;
  justify-content: space-between;
}

.pagination__list {
  @include clear-list;
  margin-right: 33px;
  display: flex;

  li:not(:last-child) {
    margin-right: 13px;
  }
}

.pagination__link {
  @include font(16px, 21px);
  color: $grey;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active,
  &--left,
  &--right,
  &--active {
    color: $dark;
  }

  &--left:active,
  &--right:active {
    color: $grey;
  }
}

@media (max-width: $tablet) {
  .pagination__wrapper {
    padding: 35px 45px 0;
  }
}

@media (max-width: $mobile) {
  .pagination__wrapper {
    margin-bottom: 65px;
    padding-top: 15px;
    justify-content: center;
  }

  .pagination__list {
    margin-right: 0;

    li:not(:last-child) {
      margin-right: 23px;
    }
  }

  .pagination__link--left,
  .pagination__link--right {
    display: none;
  }
}
