$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$wrapper: 1170px;
$wrapper-min: 320px;
$wrapper-max: 1365px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "Poppins", "Tahoma", "Geneva", sans-serif;
$accent-font: "Cormorant Garamond", "Palatino Linotype", "Book Antiqua", serif;


$brown: #a87b62;
$black: #000000;
$dark: #1d1613;
$white: #ffffff;
$grey: #9b9997;
